<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/Javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>web</display-name>
	
	
	<!-- <servlet>
		<servlet-name>serverSide</servlet-name>
		<servlet-class>com.yedam.emp.EmpServerSideServ</servlet-class>
	</servlet>
	
    <servlet-mapping>
		<servlet-name>serverSide</servlet-name>
		<url-pattern>/*</url-pattern> /* 어떤 서버명을 치더라도 이쪽으로 가겠다. 
	</servlet-mapping> -->
	
	
	<!-- <servlet>
		<servlet-name>empData</servlet-name>
		<servlet-class>com.yedam.emp.EmpDataServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>empData</servlet-name>
		<url-pattern>/empData</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>empSource</servlet-name>
		<servlet-class>com.yedam.emp.EmpSourceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>empSource</servlet-name>
		<url-pattern>/empSource</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>empSubSide</servlet-name>
		<servlet-class>com.yedam.emp.EmpSubSideServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>empSubSide</servlet-name>
		<url-pattern>/empSubSide</url-pattern>
	</servlet-mapping> -->
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>